labs/netbox-docker
labs/annet/netsshsetup
labs/topologies/*/src/ios-7200
labs/topologies/*/src/dynamips_log.txt
labs/topologies/*/src/ilt*
labs/topologies/*/src/next-hop-lab
labs/topologies/*/src/netbox_data

labs/topologies/*/operational_configs/*
!labs/topologies/*/operational_configs/.gitkeep
labs/vm_images/*
!labs/vm_images/.gitkeep

.idea/
__pycache__/
*.py[cod]
*$py.class
.DS_Store

venv
.venv
